[submodule "biodiversityAquatic"]
	path = biodiversityAquatic
	url = https://github.com/Jonas-Botanical-Society/biodiversityAquatic.git
[submodule "biodiversityCrops"]
	path = biodiversityCrops
	url = https://github.com/Jonas-Botanical-Society/biodiversityCrops.git
[submodule "biodiversityFlowers"]
	path = biodiversityFlowers
	url = https://github.com/Jonas-Botanical-Society/biodiversityFlowers.git
[submodule "biodiversityOrchards"]
	path = biodiversityOrchards
	url = https://github.com/Jonas-Botanical-Society/biodiversityOrchards.git
[submodule "biodiversityShrubs"]
	path = biodiversityShrubs
	url = https://github.com/Jonas-Botanical-Society/biodiversityShrubs.git
[submodule "biodiversityTrees"]
	path = biodiversityTrees
	url = https://github.com/Jonas-Botanical-Society/biodiversityTrees.git
[submodule "expandedFoodiversity"]
	path = expandedFoodiversity
	url = https://github.com/Jonas-Botanical-Society/expandedFoodiversity.git
